@using la_mia_pizzeria_static.Models;
@using Microsoft.AspNetCore.Mvc;
@{
    ViewData["Title"] = "Home Page";
    Layout = "_CustomLayout";

}

@model List<Pizza>

@* Pizza - index *@

<div class="text-center">
    @*  <h1 class="display-4">Pizzeria ristorante</h1> *@
    @* <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <h1 class="display-4 p-1">Pizzeria ristorante</h1>
    <h2 class="text-center">Lista di pizze</h2>

    <div class="container pt-1">
        <div class="row justify-content-center">

            

            
            @if (Model == null || !Model.Any())
            {
                <p>Non ci sono pizze nella lista </p>
            }
            else
            {
                @foreach (Pizza itemPizza in Model)
                {
                    <div class="col-4  p-2">

                        <div class="card card-pizza" style="width: 18rem;">
                            <img src="@Url.Content(itemPizza.Image)" class="card-img-top" alt="@itemPizza.Name">
                            <div class="card-body">
                                <h5 class="card-title">@itemPizza.Name</h5>
                                <p class="card-text">@itemPizza.Description</p>
                                <p class="card-text">Prezzo: @itemPizza.Price &euro;</p>
                                <a href="@Url.Action("Show", new {id = itemPizza.Id} )" class="btn btn-primary">Guarda</a>
                            </div>
                        </div>

                    </div>
                }
            }
           
        </div>
    </div>

</div>


